<a href="https://colab.research.google.com/github/9more/Projects/blob/main/loan_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

######This project seeks to identify and analyse the factors that led to a client's company defaulting on its debt. This project seeks to identify and analyse the factors that led to a client's company defaulting on its debt payment.
##### A total of 227,000 data points were provided for the project.
#####The project would start by cleaning and transforming the daateset for insightful analysis. This would include, among others, removing duplicates, formatting string objects and dates and creating a binary classification for the target variable.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.request
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import files
uploaded = files.upload('data_source')
file_path = f"./{list(uploaded.keys())[0]}"
df=pd.read_excel(file_path, skiprows=1)
df.head()

In [ ]:
df=pd.read_excel('/content/data_source/data_source.xlsx', skiprows=1)
df.head()

In [ ]:
# Retrieving data from Google Sheet
url = input('')
sheet_id = url.split('/d/')[1].split('/edit')[0]
csv_url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv'
data = pd.read_csv(csv_url)

In [ ]:
today=pd.to_datetime('today').tz_localize('UTC').tz_convert('Africa/Lagos')
today

Timestamp('2025-07-28 12:43:35.256160+0100', tz='Africa/Lagos')

In [ ]:
def data_cleaning(df): #Data Cleaning Process
  df.drop_duplicates(inplace=True)
  df.dropna(inplace=True)
  df.set_index('customer_id', inplace=True)
  df['sign_date']=pd.to_datetime(df['loan_signdate'],format='mixed')
  df['loan_contractapproveddate'].replace('0000-00-00 00:00:00', '', inplace=True)
  df['customer_date_of_birth'].replace('0000-00-00', '', inplace=True)
  return df


def data_transformations(df): #Data Transformation.
  df['approved_date'] = pd.to_datetime(df['loan_contractapproveddate'], format='mixed')
  df['sign_month'], df['approved_month']=(df['sign_date'].dt.month_name(), df['approved_date'].dt.month_name())
  df['signed_year'], df['approved_year']=df['sign_date'].dt.year, df['approved_date'].dt.year
  #df[['approved_year','signed_year']]=df[['approved_year','signed_year']]
  df['customer_date_of_birth']= pd.to_datetime(df['customer_date_of_birth'])
  df['customers age']= df['sign_date']- df['customer_date_of_birth']
  #df['age']= df['sign_date'].dt.year - df['customer_date_of_birth']
  df.columns=df.columns.str.lower()
  df1=df.copy()
  df1['status']=np.where(df1['loan_status'].isin(['BANKRUPTCY CONFIRMED', 'FINAL PAYMENT']), "Default", "Non_Default")
  #df.map({})
  return (df,df1)

In [ ]:
def graph(df, n=None,i=None,j='bar'): # own more than 3 accts.
  title = input('Enter Graph Title: ')
  color = input('Enter Color: ')
  if i=='country':
    df.groupby(i)['df_status']
    df.get(n).value_counts().unstack().plot(kind=j, figsize=(10,5), title=title, color=color)
  else:
    df.plot(kind=j, figsize=(10,5), title=title, color=color)
    df[df[i]==i].\
    groupby(i)['df_status'].\
    value_counts().\
    unstack().\
    plot(kind=j)

In [ ]:
data1 = data_transformations(data_cleaning(data.copy())) #Why acct not active
data1[0].index.value_counts().head(10)

customer_id
82011     26
243203    19
239372    18
367567    17
699507    17
387476    16
87968     15
802169    15
454460    14
627138    14
Name: count, dtype: int64

In [ ]:
df['approved_time']=df['approved_time'].dt.total_seconds() / 3600

In [ ]:
df['hour_bf_approval'], df['hour_af_sign']= df['sign_date'].dt.hour, df['approved_date'].dt.hour

In [ ]:
df['after_sign']=df['approved_date'].dt.hour

In [ ]:
df.rename(columns={'approved_time':'approved_time_hrs'}, inplace=True)

In [ ]:
df['customer_date_of_birth'].replace('0', '', inplace=True)
df['customer_date_of_birth']= pd.to_datetime(df['customer_date_of_birth'])
df['customers age']= df['sign_date']- df['customer_date_of_birth']
df['age']= df['sign_date'].dt.year - df['customers_date_of_birth']

In [ ]:
df['age'] = df['age'].fillna(0).astype(int)

In [ ]:
def dropdf():
  for i in df['df_status']:
    if i !=['PAID IN FULL', 'ACTIVE','BANKRUPTCY CONFIRMED',
       'FINAL PAYMENT PENDING']:
        df.drop(i, axis=1,inplace=True)

In [ ]:
def dropdf():
  indices_to_drop = []
  for index, row in df.iterrows():
    if row['df_status'] not in ['PAID IN FULL', 'ACTIVE', 'BANKRUPTCY CONFIRMED', 'FINAL PAYMENT PENDING']:
      indices_to_drop.append(index)
  df.drop(indices_to_drop, axis=0, inplace=True)

In [ ]:
drop_items = ['PAID IN FULL', 'ACTIVE', 'BANKRUPTCY CONFIRMED', 'FINAL PAYMENT PENDING']
ddf = df[df['df_status'].isin(drop_items)]

In [ ]:
ddf